.above_header {
  background: #282624;
  overflow-x: hidden;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.above_header p {
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #DEDEDE;
  -webkit-animation: search_new_peop 14s linear infinite;
          animation: search_new_peop 14s linear infinite;
}

@-webkit-keyframes search_new_peop {
  0% {
    -webkit-transform: translateX(180%);
            transform: translateX(180%);
  }
  100% {
    -webkit-transform: translateX(-180%);
            transform: translateX(-180%);
  }
}

@keyframes search_new_peop {
  0% {
    -webkit-transform: translateX(180%);
            transform: translateX(180%);
  }
  100% {
    -webkit-transform: translateX(-180%);
            transform: translateX(-180%);
  }
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 9px 0;
}
header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
header .logo .itecko_animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .logo .itecko_animation p {
  color: #2D343F;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
header .logo:hover .itecko_animation p {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
header .logo:hover .itecko_animation p:nth-child(1) {
  -webkit-animation-name: itecko1;
          animation-name: itecko1;
}
header .logo:hover .itecko_animation p:nth-child(2) {
  -webkit-animation-name: itecko2;
          animation-name: itecko2;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
header .logo:hover .itecko_animation p:nth-child(3) {
  -webkit-animation-name: itecko3;
          animation-name: itecko3;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
header .logo:hover .itecko_animation p:nth-child(4) {
  -webkit-animation-name: itecko4;
          animation-name: itecko4;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
header .logo:hover .itecko_animation p:nth-child(5) {
  -webkit-animation-name: itecko5;
          animation-name: itecko5;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
header .logo:hover .itecko_animation p:nth-child(6) {
  -webkit-animation-name: itecko6;
          animation-name: itecko6;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
header .nav_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .nav_bar a {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #393939;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
header .nav_bar a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #00D2FF;
  width: 100%;
  height: 2px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
header .nav_bar a:not(:first-child) {
  margin-left: 50px;
}
header .nav_bar a:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  color: #00D2FF;
}
header .nav_bar a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@-webkit-keyframes itecko1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes itecko1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes itecko2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes itecko2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes itecko3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes itecko3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes itecko4 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes itecko4 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes itecko5 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes itecko5 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes itecko6 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes itecko6 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.under_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../assets/under_header/bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 700px;
  overflow-y: hidden;
}
.under_header .orange_trapezoid {
  position: absolute;
  left: 0;
  width: 1028px;
  height: 100%;
  background: linear-gradient(99.55deg, #00D2FF 2.75%, #3A7BD5 101.45%);
  opacity: 0.9;
  -webkit-clip-path: polygon(0 0, 55% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 55% 0%, 100% 100%, 0% 100%);
}
.under_header .cam_block {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.under_header .cam_block .cam img:first-child {
  margin: 0 auto;
  width: 90%;
  z-index: 2;
  -webkit-animation: cam_move 3s linear infinite;
          animation: cam_move 3s linear infinite;
  position: relative;
}
.under_header .cam_block .cam img:nth-child(2) {
  position: absolute;
  bottom: -10%;
}
.under_header .cam_block p {
  cursor: default;
  font-weight: 600;
  font-size: 152px;
  line-height: 185px;
  text-align: center;
  -webkit-transform: matrix(1, 0, -0.07, 1, 0, 0);
          transform: matrix(1, 0, -0.07, 1, 0, 0);
  color: #FFFFFF;
  position: absolute;
  top: 40%;
}
.under_header .cam_block p:nth-child(2) {
  z-index: 1;
}
.under_header .cam_block p:nth-child(3) {
  -webkit-text-stroke: 2px #FFFFFF;
  color: transparent;
  z-index: 3;
}

@-webkit-keyframes cam_move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  50% {
    -webkit-transform: translateY(-14px);
            transform: translateY(-14px);
  }
  75% {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes cam_move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  50% {
    -webkit-transform: translateY(-14px);
            transform: translateY(-14px);
  }
  75% {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.stud_life {
  margin: 162px auto 148px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.stud_life p:first-child {
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  color: #000000;
}
.stud_life p:nth-child(2) {
  font-family: "Ubuntu", sans-serif;
  font-size: 22px;
  line-height: 25px;
  color: #4B4B4B;
  margin-left: 184px;
  width: 90%;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .under_header .orange_trapezoid {
    width: 840px;
  }
  .under_header .cam_block .cam img:first-child {
    width: 70%;
  }
  .under_header .cam_block .cam img:nth-child(2) {
    width: 70%;
    bottom: -5%;
    right: 15%;
  }
  .under_header .cam_block p {
    font-size: 102px;
    top: 40%;
  }
  .stud_life p:nth-child(2) {
    margin-left: 72px;
    width: 82%;
  }
}
@media (min-width: 894px) and (max-width: 1023px) {
  .under_header .orange_trapezoid {
    width: 840px;
  }
  .under_header .cam_block .cam img:first-child {
    width: 65%;
  }
  .under_header .cam_block .cam img:nth-child(2) {
    width: 70%;
    bottom: -3%;
    right: 18%;
  }
  .under_header .cam_block p {
    font-size: 102px;
    top: 40%;
  }
  .stud_life p:first-child {
    font-size: 40px;
    line-height: 48px;
  }
  .stud_life p:nth-child(2) {
    margin-left: 72px;
    width: 82%;
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 893px) {
  header .nav_bar a:not(:first-child) {
    margin-left: 22px;
  }
  .under_header {
    height: 500px;
  }
  .under_header .orange_trapezoid {
    width: 540px;
  }
  .under_header .cam_block .cam img:first-child {
    width: 50%;
  }
  .under_header .cam_block .cam img:nth-child(2) {
    width: 60%;
    bottom: -3%;
    right: 24%;
  }
  .under_header .cam_block p {
    font-size: 92px;
    top: 40%;
  }
  .stud_life p:first-child {
    font-size: 40px;
    line-height: 48px;
  }
  .stud_life p:nth-child(2) {
    margin-left: 72px;
    width: 82%;
    font-size: 20px;
  }
}