.about_us_under_header {
  overflow-x: hidden;
  background-color: #29303B;
  position: relative;
  min-height: 900px;
  overflow: hidden;
}
.about_us_under_header .wrapper .about_us_under_header_txt {
  -webkit-transform: translateY(122px);
          transform: translateY(122px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.about_us_under_header .wrapper .about_us_under_header_txt h1 {
  color: #01B0FF;
  font-size: 44px;
  font-weight: 500;
  text-transform: uppercase;
}
.about_us_under_header .wrapper .about_us_under_header_txt .txt_container {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  cursor: pointer;
}
.about_us_under_header .wrapper .about_us_under_header_txt .txt_container span {
  display: inline-block;
  color: #FFFFFF;
  top: 22px;
  font-size: 138px;
  font-weight: 700;
}
.about_us_under_header .wrapper .about_us_under_header_txt .txt_container span.span_space {
  margin: 0 10px;
}
.about_us_under_header .wrapper .about_us_under_header_txt .txt_container.active span {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}
.about_us_under_header .wrapper .about_us_under_header_txt .txt_container.active span:nth-child(1) {
  -webkit-animation-name: about_us_letter_m;
          animation-name: about_us_letter_m;
}
.about_us_under_header .wrapper .about_us_under_header_txt .txt_container.active span:nth-child(2) {
  -webkit-animation-name: about_us_letter_y;
          animation-name: about_us_letter_y;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.about_us_under_header .wrapper .about_us_under_header_txt .txt_container.active span:nth-child(5) {
  -webkit-animation-name: about_us_letter_s;
          animation-name: about_us_letter_s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.about_us_under_header .wrapper .about_us_under_header_txt .txt_container.active span:nth-child(6) {
  -webkit-animation-name: about_us_letter_mm;
          animation-name: about_us_letter_mm;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.about_us_under_header .wrapper .about_us_under_header_txt .txt_container.active span:nth-child(7) {
  -webkit-animation-name: about_us_letter_mm;
          animation-name: about_us_letter_mm;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.about_us_under_header .wrapper .about_us_under_header_txt .txt_container.active span:nth-child(9) {
  -webkit-animation-name: about_us_letter_e;
          animation-name: about_us_letter_e;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.about_us_under_header .wrapper .about_us_under_header_txt .txt_container.active span:nth-child(11) {
  -webkit-animation-name: about_us_letter_i;
          animation-name: about_us_letter_i;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.about_us_under_header .wrapper .about_us_under_header_txt .txt_container.active span:nth-child(12) {
  -webkit-animation-name: about_us_letter_t;
          animation-name: about_us_letter_t;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.about_us_under_header .wrapper .about_us_under_header_txt .txt_container.active span:nth-child(13) {
  -webkit-animation-name: about_us_letter_e;
          animation-name: about_us_letter_e;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.about_us_under_header .wrapper .about_us_under_header_txt .txt_container.active span:nth-child(14) {
  -webkit-animation-name: about_us_letter_c;
          animation-name: about_us_letter_c;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.about_us_under_header .wrapper .about_us_under_header_txt .txt_container.active span:nth-child(15) {
  -webkit-animation-name: about_us_letter_k;
          animation-name: about_us_letter_k;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.about_us_under_header .wrapper .about_us_under_header_txt .txt_container.active span:nth-child(16) {
  -webkit-animation-name: about_us_letter_0;
          animation-name: about_us_letter_0;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}
.about_us_under_header .wrapper .about_us_blur {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  border-bottom: 1px solid var(--WEB-Colors-light-white-background, #F7F7F7);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(42, 53, 69, 0)), to(rgba(247, 247, 247, 0.3)));
  background: linear-gradient(180deg, rgba(42, 53, 69, 0) 0%, rgba(247, 247, 247, 0.3) 100%);
}
.about_us_under_header .wrapper .about_us_itecko_team {
  position: absolute;
  z-index: 0;
}

@-webkit-keyframes about_us_letter_m {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes about_us_letter_m {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes about_us_letter_y {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes about_us_letter_y {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes about_us_letter_s {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes about_us_letter_s {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes about_us_letter_mm {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes about_us_letter_mm {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes about_us_letter_e {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes about_us_letter_e {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes about_us_letter_i {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes about_us_letter_i {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes about_us_letter_t {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes about_us_letter_t {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes about_us_letter_ee {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes about_us_letter_ee {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes about_us_letter_c {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes about_us_letter_c {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes about_us_letter_k {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes about_us_letter_k {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes about_us_letter_o {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes about_us_letter_o {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    color: #00D2FF;
  }
  75% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.about_us.stud_life_block {
  padding: 150px 0;
}

.photos_collage {
  margin-top: 100px;
}
.photos_collage .wrapper {
  max-width: 1500px;
}
.photos_collage .wrapper .photos_collage_flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.photos_collage .wrapper .photos_collage_flex_container .photos_collage_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 62px;
  margin: 0 31px;
}
.photos_collage .wrapper .photos_collage_flex_container .photos_collage_block .img_container {
  width: 416px;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.photos_collage .wrapper .photos_collage_flex_container .photos_collage_block .img_container img {
  width: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.photos_collage .wrapper .photos_collage_flex_container .photos_collage_block .img_container:not(:hover) img {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.about_us_our_team {
  overflow-x: auto;
  margin-top: 80px;
  margin-bottom: 60px;
}
.about_us_our_team .about_us_team_count {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about_us_our_team .about_us_team_count .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.about_us_our_team .about_us_team_count .card .bg_circle {
  width: 115px;
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}
.about_us_our_team .about_us_team_count .card .bg_circle .under_icon_txt {
  color: rgb(181, 181, 181);
  font-family: "Ubuntu", serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1.44px;
}
.about_us_our_team .about_us_team_count .card .card_info_txt {
  color: #3A424F;
  text-align: center;
  font-family: "Ubuntu", serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
}
.about_us_our_team .about_us_team_count .card:nth-child(1) .bg_circle {
  background-image: url("../../assets/sub_pages/our_team/elements/kam_circle.png");
}
.about_us_our_team .about_us_team_count .card:nth-child(2) .bg_circle {
  background-image: url("../../assets/sub_pages/our_team/elements/strh__circle.png");
}
.about_us_our_team .about_us_team_count .card:nth-child(3) .bg_circle {
  background-image: url("../../assets/sub_pages/our_team/elements/mod_circle.png");
}
.about_us_our_team .about_us_team_count .card:nth-child(4) .bg_circle {
  background-image: url("../../assets/sub_pages/our_team/elements/fot_circle.png");
}
.about_us_our_team .about_us_team_count .card:nth-child(5) .bg_circle {
  background-image: url("../../assets/sub_pages/our_team/elements/web_circle.png");
}
.about_us_our_team .about_us_team_count .card:nth-child(6) .bg_circle {
  background-image: url("../../assets/sub_pages/our_team/elements/graf_circle.png");
}
.about_us_our_team .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 0;
}
.about_us_our_team .txt .main_text {
  font-size: 55px;
  font-weight: 700;
}
.about_us_our_team .txt .count_of_numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: default;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  border-radius: 46px;
  border: 2px solid #ECECEC;
  padding: 8px 16px;
}
.about_us_our_team .txt .count_of_numbers .count {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}
.about_us_our_team .poeple {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 24px;
}
.about_us_our_team .poeple .card {
  max-width: 314px;
}
.about_us_our_team .poeple .card .img_container {
  border-radius: 4px;
  overflow: hidden;
}
.about_us_our_team .poeple .card .img_container img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
.about_us_our_team .poeple .card .img_container:hover {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.about_us_our_team .poeple .card .card_txt {
  margin-top: 10px;
}
.about_us_our_team .poeple .card .card_txt p:first-child {
  font-size: 24px;
  font-weight: 700;
}
.about_us_our_team .poeple .card .card_txt p:nth-child(2) {
  font-family: "Ubuntu", serif;
  line-height: 21px;
  text-transform: uppercase;
}

.blue_block {
  position: relative;
  z-index: 0;
}
.blue_block .shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 23, 34, 0)), to(rgba(27, 27, 27, 0.9)));
  background: linear-gradient(180deg, rgba(17, 23, 34, 0) 0%, rgba(27, 27, 27, 0.9) 100%);
  width: 100%;
  height: 500px;
  z-index: 0;
}
.blue_block .wrapper {
  position: relative;
  z-index: 5;
}
.blue_block .wrapper .contanct_us.about_us_page {
  margin-top: 0 !important;
}

@media (1024px <= width <= 1200px) {
  .about_us_under_header {
    height: 950px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt {
    row-gap: 20px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt .txt_container span {
    font-size: 120px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt .txt_container span.span_space {
    margin: 0 10px;
  }
  .about_us_under_header .wrapper .about_us_itecko_team {
    bottom: -30%;
  }
  .photos_collage {
    overflow-x: hidden;
  }
  .photos_collage .wrapper .photos_collage_flex_container .photos_collage_block .img_container {
    width: 300px;
  }
}
@media (894px <= width <= 1023px) {
  .about_us_under_header {
    min-height: 850px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt {
    row-gap: 20px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt .txt_container span {
    font-size: 100px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt .txt_container span.span_space {
    margin: 0 10px;
  }
  .about_us_under_header .wrapper .about_us_itecko_team {
    bottom: -30%;
    left: 0;
  }
  .photos_collage {
    overflow-x: hidden;
    padding-bottom: 100px;
  }
  .photos_collage .wrapper .photos_collage_flex_container .photos_collage_block .img_container {
    width: 300px;
  }
  .about_us_our_team .poeple .card {
    width: 254px;
  }
}
@media (768px <= width <= 893px) {
  .about_us_under_header {
    min-height: 720px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt {
    row-gap: 20px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt .txt_container span {
    font-size: 84px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt .txt_container span.span_space {
    margin: 0 10px;
  }
  .about_us_under_header .wrapper .about_us_itecko_team {
    bottom: -30%;
    left: 0;
  }
  .about_us.stud_life_block {
    padding-top: 100px;
  }
  .photos_collage {
    overflow-x: hidden;
    padding-bottom: 100px;
  }
  .photos_collage .wrapper .photos_collage_flex_container .photos_collage_block .img_container {
    width: 200px;
  }
  .about_us_our_team .poeple .card {
    width: 228px;
  }
  .about_us_our_team .poeple .card .card_txt p:first-child {
    font-size: 20px;
  }
  .about_us_our_team .poeple .card .card_txt p:nth-child(2) {
    font-size: 16px;
  }
  .about_us_our_team .txt {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (595px <= width <= 767px) {
  .about_us_under_header {
    min-height: 580px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt {
    row-gap: 20px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt .txt_container span {
    font-size: 64px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt .txt_container span.span_space {
    margin: 0 6px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt h1 {
    font-size: 34px;
  }
  .about_us_under_header .wrapper .about_us_itecko_team {
    bottom: -30%;
    left: 0;
  }
  .about_us.stud_life_block {
    padding-top: 100px;
  }
  .photos_collage {
    overflow-x: hidden;
    padding-bottom: 100px;
  }
  .photos_collage .wrapper .photos_collage_flex_container .photos_collage_block {
    -webkit-filter: blur(0) !important;
            filter: blur(0) !important;
  }
  .photos_collage .wrapper .photos_collage_flex_container .photos_collage_block .img_container {
    width: 200px;
    -webkit-filter: blur(0) !important;
            filter: blur(0) !important;
  }
  .about_us.what_can_we_give {
    margin-bottom: 100px;
  }
  .about_us_our_team .about_us_team_count {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 24px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .about_us_our_team .about_us_team_count .card {
    width: 158px;
  }
  .about_us_our_team .poeple .card {
    width: 228px;
  }
  .about_us_our_team .poeple .card .card_txt p:first-child {
    font-size: 20px;
  }
  .about_us_our_team .poeple .card .card_txt p:nth-child(2) {
    font-size: 16px;
  }
  .about_us_our_team .txt {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .what_can_we_give {
    margin-top: 0;
  }
}
@media (425px <= width <= 594px) {
  .about_us_under_header {
    min-height: 450px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt {
    row-gap: 25px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt .txt_container span {
    font-size: 44px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt .txt_container span.span_space {
    margin: 0 2px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt h1 {
    font-size: 26px;
  }
  .about_us_under_header .wrapper .about_us_itecko_team {
    bottom: -30%;
    left: 0;
  }
  .about_us.stud_life_block {
    padding-top: 100px;
  }
  .photos_collage {
    overflow-x: hidden;
    padding-bottom: 100px;
  }
  .photos_collage .wrapper .photos_collage_flex_container .photos_collage_block {
    -webkit-filter: blur(0) !important;
            filter: blur(0) !important;
    row-gap: 31px;
    margin: 0 15px;
  }
  .photos_collage .wrapper .photos_collage_flex_container .photos_collage_block .img_container {
    width: 200px;
    -webkit-filter: blur(0) !important;
            filter: blur(0) !important;
  }
  .about_us.what_can_we_give {
    margin-bottom: 100px;
  }
  .about_us_our_team .about_us_team_count {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 24px;
  }
  .about_us_our_team .about_us_team_count .card {
    width: 158px;
  }
  .about_us_our_team .about_us_team_count .card p:nth-child(2) {
    font-size: 16px;
  }
  .about_us_our_team .poeple .card {
    width: 184px;
  }
  .about_us_our_team .poeple .card .card_txt p:first-child {
    font-size: 20px;
  }
  .about_us_our_team .poeple .card .card_txt p:nth-child(2) {
    font-size: 16px;
  }
  .about_us_our_team .txt {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about_us_our_team .txt p:nth-child(1) {
    font-size: 44px;
  }
  .about_us_our_team .txt p:nth-child(2) {
    font-size: 20px;
  }
  .what_can_we_give {
    margin-top: 0;
  }
  .what_can_we_give h2 {
    font-size: 44px;
  }
  .what_can_we_give .what_txt {
    font-size: 20px;
  }
}
@media (375px <= width <= 424px) {
  .about_us_under_header {
    min-height: 400px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt {
    row-gap: 25px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt .txt_container span {
    font-size: 38px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt .txt_container span.span_space {
    margin: 0;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt h1 {
    font-size: 20px;
  }
  .about_us_under_header .wrapper .about_us_itecko_team {
    bottom: -30%;
    left: 0;
  }
  .about_us.stud_life_block {
    padding: 50px 0;
  }
  .photos_collage {
    overflow-x: hidden;
    padding-bottom: 100px;
  }
  .photos_collage .wrapper .photos_collage_flex_container {
    -webkit-filter: blur(0) !important;
            filter: blur(0) !important;
    row-gap: 20px;
    margin: 0 10px;
  }
  .photos_collage .wrapper .photos_collage_flex_container .img_container {
    width: 148px !important;
    -webkit-filter: blur(0) !important;
            filter: blur(0) !important;
  }
  .about_us.what_can_we_give {
    margin-bottom: 100px;
  }
  .about_us_our_team .about_us_team_count {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 24px;
  }
  .about_us_our_team .about_us_team_count .card {
    width: 158px;
  }
  .about_us_our_team .about_us_team_count .card p:nth-child(2) {
    font-size: 16px;
  }
  .about_us_our_team .poeple .card {
    width: 158px;
  }
  .about_us_our_team .poeple .card .card_txt p:first-child {
    font-size: 18px;
  }
  .about_us_our_team .poeple .card .card_txt p:nth-child(2) {
    font-size: 14px;
  }
  .about_us_our_team .txt {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 10px;
  }
  .about_us_our_team .txt p:nth-child(1) {
    font-size: 32px;
  }
  .about_us_our_team .txt p:nth-child(2) {
    font-size: 18px;
  }
  .what_can_we_give {
    margin-top: 0;
  }
  .what_can_we_give h2 {
    font-size: 32px;
  }
  .what_can_we_give .what_txt {
    font-size: 16px;
  }
  .blue_block {
    padding-top: 60px;
  }
}
@media (320px <= width <= 374px) {
  .about_us_under_header {
    min-height: 350px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt {
    row-gap: 25px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt .txt_container span {
    font-size: 32px;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt .txt_container span.span_space {
    margin: 0;
  }
  .about_us_under_header .wrapper .about_us_under_header_txt h1 {
    font-size: 18px;
  }
  .about_us_under_header .wrapper .about_us_itecko_team {
    bottom: -30%;
    left: 0;
  }
  .about_us.stud_life_block {
    padding: 50px 0;
  }
  .photos_collage {
    overflow-x: hidden;
    padding-bottom: 100px;
  }
  .photos_collage .wrapper .photos_collage_flex_container .photos_collage_block {
    -webkit-filter: blur(0) !important;
            filter: blur(0) !important;
    row-gap: 15px;
    margin: 0 7px;
  }
  .photos_collage .wrapper .photos_collage_flex_container .photos_collage_block .img_container {
    width: 68px;
    -webkit-filter: blur(0) !important;
            filter: blur(0) !important;
  }
  .about_us.what_can_we_give {
    margin-bottom: 100px;
  }
  .about_us_our_team .about_us_team_count {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 24px;
  }
  .about_us_our_team .about_us_team_count .card {
    width: 124px;
  }
  .about_us_our_team .about_us_team_count .card p:nth-child(2) {
    font-size: 16px;
  }
  .about_us_our_team .poeple .card {
    width: 132px;
  }
  .about_us_our_team .poeple .card .card_txt p:first-child {
    font-size: 14px;
  }
  .about_us_our_team .poeple .card .card_txt p:nth-child(2) {
    font-size: 12px;
  }
  .about_us_our_team .txt {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 10px;
  }
  .about_us_our_team .txt p:nth-child(1) {
    font-size: 32px;
  }
  .about_us_our_team .txt p:nth-child(2) {
    font-size: 18px;
  }
  .what_can_we_give {
    margin-top: 0;
  }
  .what_can_we_give h2 {
    font-size: 32px;
  }
  .what_can_we_give .what_txt {
    font-size: 16px;
  }
  .blue_block {
    padding-top: 60px;
  }
}