@import '../../scss/_mixin';

.about_us_under_header {
    overflow-x: hidden;
    background-color: #29303B;
    position: relative;
    min-height: 900px;
    overflow: hidden;

    .wrapper {
        .about_us_under_header_txt {
            transform: translateY(122px);
            @include flex-center(flex, center, start);
            flex-direction: column;
            text-align: center;

            h1 {
                color: #01B0FF;
                font-size: 44px;
                font-weight: 500;
                text-transform: uppercase;
            }

            .txt_container {
                transform: translateY(-30px);
                cursor: pointer;
                span{
                    display: inline-block;
                    // word-spacing: -50px;
                    color: #FFFFFF;
                    // position: absolute;
                    top: 22px;
                    font-size: 138px;
                    font-weight: 700;
                    &.span_space{
                        margin: 0 10px;
                    }
                }
                // &:hover, 
                &.active{
                    // animation: end .3s linear 1.3s;
                    span{
                        // color: red;
                        animation-timing-function: linear;
                        animation-duration: .3s;
                        &:nth-child(1){
                            animation-name: about_us_letter_m;
                        }
                        &:nth-child(2){
                            animation-name: about_us_letter_y;
                            animation-delay: .1s;
                        }
                        &:nth-child(5){
                            animation-name: about_us_letter_s;
                            animation-delay: .2s;
                        }
                        &:nth-child(6){
                            animation-name: about_us_letter_mm;
                            animation-delay: .3s;
                        }
                        &:nth-child(7){
                            animation-name: about_us_letter_mm;
                            animation-delay: .4s;
                        }
                        &:nth-child(9){
                            animation-name: about_us_letter_e;
                            animation-delay: .5s;
                        }
                        &:nth-child(11){
                            animation-name: about_us_letter_i;
                            animation-delay: .6s;
                        }
                        &:nth-child(12){
                            animation-name: about_us_letter_t;
                            animation-delay: .7s;
                        }
                        &:nth-child(13){
                            animation-name: about_us_letter_e;
                            animation-delay: .8s;
                        }
                        &:nth-child(14){
                            animation-name: about_us_letter_c;
                            animation-delay: .9s;
                        }
                        &:nth-child(15){
                            animation-name: about_us_letter_k;
                            animation-delay: 1s;
                        }
                        &:nth-child(16){
                            animation-name: about_us_letter_0;
                            animation-delay: 1.1s;
                        }
                    }
                }
                }
            }

        .about_us_blur {
            position: absolute;
            // z-index: 3;
            z-index: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 70%;
            border-bottom: 1px solid var(--WEB-Colors-light-white-background, #F7F7F7);
            background: linear-gradient(180deg, rgba(42, 53, 69, 0.00) 0%, rgba(247, 247, 247, 0.30) 100%);
        }

        .about_us_itecko_team {
            position: absolute;
            // bottom: 0;
            // bottom: -50%;
            // z-index: 2;
            // z-index: -1;
            z-index: 0;
        }
    }

}

// @keyframes end {
//     0% {
//         color: #FFFFFF;
//     }
//     50% {
//         color: #00D2FF;
//     }
//     100% {
//         color: #FFFFFF;
//     }
// }

@keyframes about_us_letter_m {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(-4px);
        color: #00D2FF;
    }
    75% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes about_us_letter_y {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(-4px);
        color: #00D2FF;
    }
    75% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes about_us_letter_s {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(-4px);
        color: #00D2FF;
    }
    75% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes about_us_letter_mm {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(-4px);
        color: #00D2FF;
    }
    75% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes about_us_letter_e {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(-4px);
        color: #00D2FF;
    }
    75% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes about_us_letter_i {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(-4px);
        color: #00D2FF;
    }
    75% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes about_us_letter_t {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(-4px);
        color: #00D2FF;
    }
    75% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes about_us_letter_ee {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(-4px);
        color: #00D2FF;
    }
    75% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes about_us_letter_c {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(-4px);
        color: #00D2FF;
    }
    75% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes about_us_letter_k {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(-4px);
        color: #00D2FF;
    }
    75% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes about_us_letter_o {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(-4px);
        color: #00D2FF;
    }
    75% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

.about_us.stud_life_block {
    padding: 150px 0;
}

.photos_collage{
    margin-top: 100px;
    .wrapper{
        max-width: 1500px;
        .photos_collage_flex_container{
            @include flex-center(flex, center, center);
            // flex-wrap: wrap;
            .photos_collage_block{
                display: flex;
                flex-direction: column;
                row-gap: 62px;
                margin: 0 31px;
                .img_container{
                    width: 416px;
                    overflow: hidden;
                    border-radius: 4px;
                    img{
                        width: 100%;
                        transition: all .3s linear;
                        // filter: blur(2px); 
                    }
                    &:not(:hover){
                        // filter: blur(2px); 
                        img{
                            filter: blur(0);
                            transform: scale(1.1, 1.1);
                        }
                    }
                    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                }
              
            }
        }
    }
}

.about_us_our_team {
    overflow-x: auto;
    margin-top: 80px;
    margin-bottom: 60px;

    .about_us_team_count {
        margin-bottom: 30px;
        @include flex-center(flex, center, space-between);
       
        .card{
            @include flex-center(flex, center, center);
            flex-direction: column;
            row-gap: 8px;
            .bg_circle{
                width: 115px;
                height: 115px;
                @include flex-center(flex, center, center);
                flex-direction: column;
                row-gap: 5px;
                .under_icon_txt{
                    color: rgba(181, 181, 181, 1);
                    font-family: 'Ubuntu', serif;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 150%;
                    letter-spacing: 1.44px;    
                }
                
            }
            .card_info_txt{
                color: #3A424F;
                text-align: center;
                font-family: 'Ubuntu', serif;
                font-size: 22px;
                font-weight: 400;
                line-height: 150%;
            }

            &:nth-child(1){
                .bg_circle{
                    background-image: url('../../assets/sub_pages/our_team/elements/kam_circle.png');
                }
            }
            &:nth-child(2){
                .bg_circle{
                    background-image: url('../../assets/sub_pages/our_team/elements/strh__circle.png');
                }
            }
            &:nth-child(3){
                .bg_circle{
                    background-image: url('../../assets/sub_pages/our_team/elements/mod_circle.png');
                }
            }
            &:nth-child(4){
                .bg_circle{
                    background-image: url('../../assets/sub_pages/our_team/elements/fot_circle.png');
                }
            }
            &:nth-child(5){
                .bg_circle{
                    background-image: url('../../assets/sub_pages/our_team/elements/web_circle.png');
                }
            }
            &:nth-child(6){
                .bg_circle{
                    background-image: url('../../assets/sub_pages/our_team/elements/graf_circle.png');
                }
            }

        }
    }

    .txt {
        @include flex-center(flex, center, space-between);
        padding: 35px 0;

        .main_text {
            font-size: 55px;
            font-weight: 700;
        }
        .count_of_numbers{
            @include flex-center(flex, center, center);
            cursor: default;
            column-gap: 8px;
            border-radius: 46px;
            border: 2px solid #ECECEC;
            padding: 8px 16px;
            .count{
                font-family: 'Ubuntu', sans-serif;
                font-size: 20px;
            }
        }
    }

    .poeple {
        margin-top: 33px;
        @include flex-center(flex, flex-start, flex-start);
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 24px;

        .card {
            max-width: 314px;

            .img_container {
                border-radius: 4px;
                overflow: hidden;

                img:hover {
                    transform: scale(1.1, 1.1);
                }

                &:hover {
                    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                }
            }

            // &:hover{
            // box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;            }
            .card_txt {
                margin-top: 10px;

                p {
                    &:first-child {
                        font-size: 24px;
                        font-weight: 700;
                    }

                    &:nth-child(2) {
                        font-family: 'Ubuntu', serif;
                        line-height: 21px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

.blue_block{
        // background-image: none;
        position: relative;
        z-index: 0;
        .shadow{
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(17, 23, 34, 0.00) 0%, rgba(27, 27, 27, 0.90) 100%);
            width: 100%;
            height: 500px;
            z-index: 0;
        }
        .wrapper{
            position: relative;
            z-index: 5;
            .contanct_us.about_us_page{
                margin-top: 0 !important;
            }
        }
}

// .footer_bg{
//     padding: 20px 0 ;
//     background-color: #01B0FF;
//     .above_footer_block{
//         margin-top: 0;
//     }

// }

@media (1024px <= width <=1200px){
    .about_us_under_header {
        height: 950px;
        .wrapper {
            .about_us_under_header_txt {
                row-gap: 20px;
                .txt_container {
                    span{
                        font-size: 120px;
                        &.span_space{
                            margin: 0 10px;
                    
                        }
                    }
                }
            }
            .about_us_itecko_team{
                bottom: -30%;
            }
        }
    }
    .photos_collage {
        overflow-x: hidden;
        .wrapper {
            .photos_collage_flex_container {
                .photos_collage_block {
                    .img_container {
                        // display: none;
                        width: 300px;
                    }
                }
            } 
        }
    }
}

@media (894px <= width <= 1023px){
    .about_us_under_header {
        min-height: 850px;
        .wrapper {
            .about_us_under_header_txt {
                row-gap: 20px;
                .txt_container {
                    span{
                        font-size: 100px;
                        &.span_space{
                            margin: 0 10px;
                    
                        }
                    }
                }
            }
            .about_us_itecko_team{
                bottom: -30%;
                left: 0;
            }
        }
    }
    .photos_collage {
        overflow-x: hidden;
        padding-bottom: 100px;
        .wrapper {
            .photos_collage_flex_container {
                .photos_collage_block {
                    .img_container {
                        // display: none;
                        width: 300px;
                    }
                }
            } 
        }
    }
    .about_us_our_team{
        .poeple{
            .card{
                width: 254px;
            }
        }
    }
}

@media (768px <= width <= 893px){
    .about_us_under_header {
        min-height: 720px;
        .wrapper {
            .about_us_under_header_txt {
                row-gap: 20px;
                .txt_container {
                    span{
                        font-size: 84px;
                        &.span_space{
                            margin: 0 10px;
                    
                        }
                    }
                }
            }
            .about_us_itecko_team{
                bottom: -30%;
                left: 0;
            }
        }
    }
    .about_us.stud_life_block{
        padding-top: 100px;
    }
    .photos_collage {
        overflow-x: hidden;
        padding-bottom: 100px;
        .wrapper {
            .photos_collage_flex_container {
                .photos_collage_block {
                    .img_container {
                        // display: none;
                        width: 200px;
                    }
                }
            } 
        }
    }
    .about_us_our_team{
        .poeple{
            .card{
                width: 228px;
                .card_txt{
                    p{
                        &:first-child{
                            font-size: 20px;
                        }
                        &:nth-child(2){
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .txt{
            flex-wrap: wrap;
        }
    }
}

@media (595px <= width <= 767px){
    .about_us_under_header {
        min-height: 580px;
        .wrapper {
            .about_us_under_header_txt {
                row-gap: 20px;
                .txt_container {
                    span{
                        font-size: 64px;
                        &.span_space{
                            margin: 0 6px;
                    
                        }
                    }
                }
                h1{
                    font-size: 34px;
                }
            }
            .about_us_itecko_team{
                bottom: -30%;
                left: 0;
            }
        }
    }
    .about_us.stud_life_block{
        padding-top: 100px;
    }
    .photos_collage {
        overflow-x: hidden;
        padding-bottom: 100px;
        .wrapper {
            .photos_collage_flex_container {
                .photos_collage_block {
                    .img_container {
                        // display: none;
                        width: 200px;
                        filter: blur(0) !important; 
                    }
                    filter: blur(0) !important; 
                }
            } 
        }
    }    
    .about_us.what_can_we_give{
        margin-bottom: 100px;
    }
    .about_us_our_team{
        .about_us_team_count{
            flex-wrap: wrap;
            row-gap: 24px;
            justify-content: space-evenly;
            .card{
                width: 158px;
                // p{
                //     &:nth-child(2){
                //         font-size: 16px;
                //     }
                // }
            }
        }
        .poeple{
            .card{
                width: 228px;
                .card_txt{
                    p{
                        &:first-child{
                            font-size: 20px;
                        }
                        &:nth-child(2){
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .txt{
            flex-wrap: wrap;
        }
    }
    .what_can_we_give{
        margin-top: 0;
    }
}

@media (425px <= width <= 594px){
    .about_us_under_header {
        min-height: 450px;
        .wrapper {
            .about_us_under_header_txt {
                row-gap: 25px;
                .txt_container {
                    span{
                        font-size: 44px;
                        &.span_space{
                            margin: 0 2px;
                    
                        }
                    }
                }
                h1{
                    font-size: 26px;
                }
            }
            .about_us_itecko_team{
                bottom: -30%;
                left: 0;
            }
        }
    }
    .about_us.stud_life_block{
        padding-top: 100px;
    }
    .photos_collage {
        overflow-x: hidden;
        padding-bottom: 100px;
        .wrapper {
            .photos_collage_flex_container {
                .photos_collage_block {
                    .img_container {
                        width: 200px;
                        filter: blur(0) !important; 
                    }
                    filter: blur(0) !important; 
                    row-gap: 31px;
                    margin: 0 15px;
                }
            } 
        }
    }
    .about_us.what_can_we_give{
        margin-bottom: 100px;
    }
    .about_us_our_team{
        .about_us_team_count{
            justify-content: space-evenly;
            flex-wrap: wrap;
            row-gap: 24px;
            .card{
                width: 158px;
                p{
                    &:nth-child(2){
                        font-size: 16px;
                    }
                }
            }
        }
        .poeple{
            .card{
                width: 184px;
                .card_txt{
                    p{
                        &:first-child{
                            font-size: 20px;
                        }
                        &:nth-child(2){
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .txt{
            flex-wrap: wrap;
            p{
                &:nth-child(1){
                    font-size: 44px;
                }
                &:nth-child(2){
                    font-size: 20px;
                }
            }
        }
    } 
    .what_can_we_give{
        margin-top: 0;
        h2{
            font-size: 44px;
        }
        .what_txt{
            font-size: 20px;
        }
    }
}

@media(375px <= width <=  424px){
    .about_us_under_header {
        min-height: 400px;
        .wrapper {
            .about_us_under_header_txt {
                row-gap: 25px;
                .txt_container {
                    span{
                        font-size: 38px;
                        &.span_space{
                            margin: 0;
                    
                        }
                    }
                }
                h1{
                    font-size: 20px;
                }
            }
            .about_us_itecko_team{
                bottom: -30%;
                left: 0;
            }
        }
    }
    .about_us.stud_life_block{
        padding: 50px 0;
    }
    .photos_collage {
        overflow-x: hidden;
        padding-bottom: 100px;
        .wrapper {
            .photos_collage_flex_container {
                .img_container {
                    width: 148px !important;
                    filter: blur(0) !important; 
                }
                filter: blur(0) !important; 
                row-gap: 20px;
                margin: 0 10px;
            } 
        }
    }
    .about_us.what_can_we_give{
        margin-bottom: 100px;
    }
    .about_us_our_team{
        .about_us_team_count{
            justify-content: space-evenly;
            flex-wrap: wrap;
            row-gap: 24px;
            .card{
                width: 158px;
                p{
                    &:nth-child(2){
                        font-size: 16px;
                    }
                }
            }
        }
        .poeple{
            .card{
                width: 158px;
                .card_txt{
                    p{
                        &:first-child{
                            font-size: 18px;
                        }
                        &:nth-child(2){
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .txt{
            flex-wrap: wrap;
            row-gap: 10px;
            p{
                &:nth-child(1){
                    font-size: 32px;
                }
                &:nth-child(2){
                    font-size: 18px;
                }
            }
        }
    } 
    .what_can_we_give{
        margin-top: 0;
        h2{
            font-size: 32px;
        }
        .what_txt{
            font-size: 16px;
        }
    }  
    .blue_block{
        padding-top: 60px;
    }
}

@media (320px <= width <=  374px){
    .about_us_under_header {
        min-height: 350px;
        .wrapper {
            .about_us_under_header_txt {
                row-gap: 25px;
                .txt_container {
                    span{
                        font-size: 32px;
                        &.span_space{
                            margin: 0;
                    
                        }
                    }
                }
                h1{
                    font-size: 18px;
                }
            }
            .about_us_itecko_team{
                bottom: -30%;
                left: 0;
            }
        }
    }
    .about_us.stud_life_block{
        padding: 50px 0;
    }
    .photos_collage {
        overflow-x: hidden;
        padding-bottom: 100px;
        .wrapper {
            .photos_collage_flex_container {
                .photos_collage_block {
                    .img_container {
                        width: 68px;
                        filter: blur(0) !important; 
                    }
                    filter: blur(0) !important; 
                    row-gap: 15px;
                    margin: 0 7px;
                }
            } 
        }
    }
    .about_us.what_can_we_give{
        margin-bottom: 100px;
    }
    .about_us_our_team{
        .about_us_team_count{
            justify-content: space-evenly;
            flex-wrap: wrap;
            row-gap: 24px;
            .card{
                width: 124px;
                p{
                    &:nth-child(2){
                        font-size: 16px;
                    }
                }
            }
        }
        .poeple{
            .card{
                width: 132px;
                .card_txt{
                    p{
                        &:first-child{
                            font-size: 14px;
                        }
                        &:nth-child(2){
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .txt{
            flex-wrap: wrap;
            row-gap: 10px;
            p{
                &:nth-child(1){
                    font-size: 32px;
                }
                &:nth-child(2){
                    font-size: 18px;
                }
            }
        }
    } 
    .what_can_we_give{
        margin-top: 0;
        h2{
            font-size: 32px;
        }
        .what_txt{
            font-size: 16px;
        }
    }  
    .blue_block{
        padding-top: 60px;
    }
}