.work {
  margin-top: 200px;
}
.work .work_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.work .work_block .first {
  width: 652px;
}
.work .work_block .first p:first-child {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #01B0FF;
  text-transform: uppercase;
}
.work .work_block .first p:nth-child(2) {
  margin: 10px 0 32px 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}
.work .work_block .first p:nth-child(3) {
  font-family: "Ubuntu", sans-serif;
  font-size: 22px;
  line-height: 25px;
}
.work .work_block .second {
  width: 513px;
  height: 530px;
  position: relative;
  z-index: 1;
}
.work .work_block .second .first_container {
  position: absolute;
  border-radius: 4px;
  top: 0;
  right: 0;
  overflow: hidden;
}
.work .work_block .second .first_container img {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.work .work_block .second .first_container:hover img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
.work .work_block .second .second_container {
  width: 150px;
  height: 352px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(99.55deg, #00C6FF 2.75%, #0072FF 101.45%);
  border: 8px solid #F7F7F7;
  border-radius: 4px;
}
.work .work_block .second .second_container img {
  max-width: 260px;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .work .work_block .first p:nth-child(3) {
    width: 90%;
  }
}
@media (min-width: 894px) and (max-width: 1023px) {
  .work .work_block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .work .work_block .first p:nth-child(3) {
    width: 90%;
  }
  .work .work_block .second .second_container {
    border-left: 0;
    border-top-left-radius: 0;
  }
}
@media (min-width: 595px) and (max-width: 893px) {
  .work .work_block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .work .work_block .first p:nth-child(3) {
    width: 90%;
  }
  .work .work_block .second .second_container {
    border-left: 0;
    border-top-left-radius: 0;
  }
}
@media (min-width: 595px) and (max-width: 767px) {
  .blue_block .wrapper .faq {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blue_block .wrapper .faq .first {
    width: 316px;
    height: 494px;
  }
  .blue_block .wrapper .faq .first .questions_photos div:nth-child(1) {
    left: 0;
  }
  .blue_block .wrapper .above_footer_block .footer_block_container {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
}
@media (425px <= width <= 594px) {
  .work .work_block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 40px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .work .work_block .first p:nth-child(3) {
    width: 90%;
  }
  .work .work_block .second .second_container {
    border-left: 0;
    border-top-left-radius: 0;
    left: unset;
    right: 0;
  }
}
@media (320px <= width <= 424px) {
  .work .work_block {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .work .work_block .first p:nth-child(1) {
    font-size: 14px;
  }
  .work .work_block .first p:nth-child(2) {
    font-size: 28px;
    line-height: normal;
    margin: 0 0 20px 0;
  }
  .work .work_block .first p:nth-child(3) {
    font-size: 18px;
  }
  .work .work_block .second {
    height: 380px;
  }
  .work .work_block .second .first_container {
    width: 240px;
  }
  .work .work_block .second .second_container {
    border-left: 0;
    border-top-left-radius: 0;
    width: 92px;
    left: unset;
    right: 148px;
    height: 218px;
    bottom: 40px;
  }
  .work .work_block .second .second_container img {
    max-width: 100px;
  }
}